    * {
        box-sizing: border-box;
    }
    
    body {
        background: #ccc;
        text-align: center;
    }
    
    main#sign_in_up_main {
        width: 80vw;
        height: 80vh;
        overflow: none;
        margin: auto;
        position: relative;
        background: linear-gradient(to left, rgb(8, 138, 8), rgb(9, 223, 9));
        margin: 2rem auto;
        padding: 1rem;
        overflow: none;
    }
    
    section#forms {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    
    section#forms .sing_in_up_form {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    
    section#forms .sing_in_up_form#sign_up_form {
        z-index: 10;
    }
    
    section#forms .sing_in_up_form#sign_in_form {
        z-index: 20;
    }
    
    section#sign_menu {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    
    section#sign_menu .sign_up_in_menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
    }
    
    section#sign_menu .sign_up_in_menu#sign_up_menu {
        z-index: 2;
        
    }
    
    section#sign_menu .sign_up_in_menu#sign_in_menu {
        z-index: 1;
    }
    /*  */
    /* Utilities */
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        padding-top: 1rem;
    }
    
    #sign_up_switch {
        margin: 0 auto;
    }
    
    #sign_in_switch {
        display: inline-block;
        width: fit-content;
        margin: 0 auto;
    }
    
    .form input {
        display: block;
        padding-left: 0.5rem;
        margin: auto;
        width: 80%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1.5rem;
        border: none;
        border-radius: 5px;
        outline: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .btn {
        font-size: 14px;
        padding: 0.5rem 1.5rem;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    
    .btn-red-bg {
        margin-top: 1rem;
        color: #fff;
        background: red;
        border: none;
    }
    
    .btn-transp-bg {
        width: 100%;
        color: #fff;
        border-color: #fff;
    }
    
    .btn:hover {
        opacity: 0.7;
    }
    
    .sing_in_up_form {
        background-color: aqua;
    }
    
    .sign_up_in_menu {
        background: green;
    }
    
    /* .hidden {
        display: none;
    } */
    
    .move-right {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        z-index: 100 !important;
}
    
    .move-left {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        z-index: 15 !important;
}